@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;1,900&display=swap');


body {
    font-family: 'Montserrat';
    background-color: lightgrey;
}
header {
    background-color:royalblue;
    color: #fff;
    padding: 1rem;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img{
    height: 70%;
    width: auto;
  }
.LogoPagina {
    height: 50px;
    margin: 5px;
    padding: 5px;
}

.ColocarUsuario {
    background-color: none;
    height: 45px;
}

.ingresarUsuario {
    background-color: white;
    height: 30px;
    margin-left: 400px;
    border-radius: 15px;
    /*display: inline-block;*/
    border:none
}
  
.Seccion1{
    display: flex;
    justify-content: center;
    margin-block-start: 15px;
}
  
.Box1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 15px;
    width: 900px;
}

.PerfilUsuario{
    width: 400px;
    height: 250px;
}
  
.FotoPerfil{
    width: 200px;
    height: 175px;
    margin-left: 45px;
}
  
  
.FotoPerfil img{
    width: 90%;
    height: 100%;
    border-radius: 300px;
    border: 4px solid royalblue
}
  

.Seguir{
    background-color: royalblue;
    border-radius: 10px;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    margin-right: 15px;
    margin-left: 10px;
    margin-top: 150px;
}

.Seccion2{
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin-left: 218px;
    margin-block-start: 15px;
}

.Box2{
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    background-color: whitesmoke;
    border-radius: 15px;
    width: 62%;
    height: 100%;

}
.TiempoPublicado{
   /* justify-content: baseline;*/
    margin-left: 10px;
}
.ImagenSubida{
    width: 90%;
    height: 90%;
    margin-left: 10px;
    margin-right: 5px;

}
.ImagenSubida img{
    width: 530px;
    height: 900px;
}
.BotonLike{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    
}

.Like{
    background-color: royalblue;
    border-radius: 10px;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    margin-left: 10px;
    margin-top: 10px
}
.contadorLike{
    margin-right: 10px;
}

.Comentarios{
    margin: 5px 5px 5px 5px;
    
}
.EliminarComentario{
    background-color: whitesmoke;
    border-radius: 10px;
    border:none;
    color: red;
}

.ingresarComentario{
    background-color: aliceblue;
    border-radius: 5px;
    border: none;
    width: 400px;
    height: 35px;
}
.Comentar{
    background-color: royalblue;
    border-radius: 10px;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    margin-left: 10px;
    margin-top: 10px
}
.Box3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 15px;
    width: 35%;
    height: 300px;
}
.Sobremi{
    margin: 10px 10px 20px 20px;
}
.SM{
    font-size: x-large;
}